h1 {font-size: 450%;}
h2 {font-size: 100%;color: gray;}
h3 {font-size: 150%;font-family: 'Montserrat', sans-serif;}
h4 {font-size: 150%;font-family: 'Montserrat', sans-serif;}
h5 {font-size: 150%;font-family: 'Montserrat', sans-serif;}
h5 {font-size: 150%;font-family: 'Montserrat', sans-serif;}
h6 {font-size: 150%;font-family: 'Montserrat', sans-serif;}
#i1 {width: 45%; margin-left: 24%;}
#i2 {width: 45%; margin-left: 24%;}
#i3 {width: 45%; margin-left: 24%;}
#i4 {width: 45%; margin-left: 24%;}
#i5 {width: 45%; margin-left: 24%;}
#i6 {width: 45%; margin-left: 24%;}
